<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>
<div class="row-fluid">
  <% if @user.avatar_file_name != nil %><%= image_tag @user.avatar.url(:thumb) %><% end %>
  <h1><%= @user.name %></h1> 
</div>

<% if @user.goals.where( "completed_date is not null" ).count > 0 %>
  <h2>Completed Goals</h2>
  <%= render 'layouts/completed_goals' %>
<% end %> 

<% if @user.goals.exists?( completed_date: nil) %>
  <h2>Current Goals</h2>
  <%= render 'layouts/current_goals' %>
<% end %>

<h2>Exercises</h2>
<%= render 'layouts/user_exercises' %>

<%= link_to 'Back', users_path %>
