
<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :exercise_type %>
  <%= select_tag :exercise_type, options_from_collection_for_select(ExerciseType.all, :id, :name) %>       
  <%= f.label :number %>
  <%= f.number_field :total %>

  <div><%= f.submit "Create Goal", class: "btn btn-large btn-primary" %></div>
  
<% end %>
