  <%= form_for(@exercise) do |f| %>
    <%= fields_for :results do |d| %>

      <%= d.label :exercise_type %>
      <%= select_tag :exercise_type, options_from_collection_for_select(ExerciseType.all, :id, :name) %>

      <%= d.label :reps %>
      <%= d.number_field :reps %>

      <%= d.label :date %>
      <%= d.text_field :exercise_date, 'data-behaviour' => 'datepicker' %>

    <% end %>
    <div><%= f.submit "Create Exercise", class: "btn btn-large btn-primary" %></div>
  <% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker();
  })
</script>